* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 600px;
    padding-top: 100px;
}

.container form label{
    display: block;
    margin-bottom: 0.8em;
    font-weight: bold;
}

.container form input{
    color: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0);
    border-radius: 8px 8px 0 0;
    font-size: 3.5rem;
    font-weight: bold;
    width: 100%;
    outline: none;
    transition: background-color 0.5s ease-in;
}

.container form input:focus{
    background-color: rgba(255, 255, 255, 0.05);
}
.container .search-results ul li{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    list-style-type: '\2AF8';
}

.container .search-results ul li:hover{
    cursor: pointer;
    
}


.container .search-results ul li span{
    padding-left: 1ch;
}


.body-claro {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #EDF2F4;
    color: black;  
    overflow:scroll;
}

.dark-mode {
    margin:0;
    font-family: "Poppins", sans-serif;
    background-color: #1D1E2C;
    color: #EDF2F4;
    overflow:scroll;
}

.smallText {
    height: 650px;
    font-size: 16px;
}

.bigText {
    font-size: 36px;
    height: 950px;
}
h4{
    text-align: center;
}
.a-Home{
    color: #1D1E2C;
}

.dark-mode .a-Home{
    color: #EDF2F4;
}
.direita{
    text-align: right;
}
.seperacaoColunas{
    margin-top: 40px;
}