/* Estilos padrão (modo claro) */
.body-claro {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #EDF2F4;
  color: black;  
}

.colunaTexto{
  margin-left: 5%;
}
.dark-mode {
  margin:0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #1D1E2C;
  color: #EDF2F4;
}


button {
  padding: 10px;
  padding-bottom: 3px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #eab464;
  color: #EDF2F4;
  transition: background-color 0.9s ease;
}

.botao{
  box-shadow: 5px 5px 7px #1d1e2c4d;
  border-radius: 50px;
  width: 250px;
}


.paletaCores:hover {
  background-color: #1D1E2C;
}
.tamanho:hover{
  transition: 0.8s ease-out;
  font-size: 20px;
}


.dark-mode button{
  background-color: #BB6B00;
}

.dark-mode .paletaCores:hover:hover {
  background-color: #cbd7dc;
  color:#1D1E2C
}
.bigText .tamanho:hover{
  transition: 0.8s ease-out;
  font-size: 16px;
}
.smallText {
  height: 650px;
  font-size: 16px;
}
.smallText h1{
  font-size: 30px;
}
.bigText {
  font-size: 36px;
  height: 950px;
}
.bigText h1{
  font-size: larger;
}
h1{
  padding-left: 0px;
  text-align: center;
}