.header{
    background-color: #1B766A;
    width: 100%;
    
}
.header-modoescuro{
    background-color: #668586;
    width: 100%;
    color: #EDF2F4;
}
.item-modoEscuro{
    background-color: #52626c;
    color: #090908;
    height: 45px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}
.body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -10px;
}
.titulo {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    color: #F4F4F9;
    text-decoration: none;
    
}

.items{
    background-color: #B8D8D9;
    color: #090908;
    height: 45px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

.acessibilidade{
    padding-left: 25px;
    margin-left: 134px;
}
.pesquisa{
    margin-left: 400px;
    padding-left: 55px;
}
.lista{
    margin-top: 8px;
    margin-bottom: 7px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 55px;
    margin-left: 400px;
}