.body-claro {
    margin: 0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
    background-color: #EDF2F4;
    color: black;  
    white-space: pre-wrap;
    overflow:scroll;
}

.dark-mode {
    margin:0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    width: 100%;
    background-color: #1D1E2C;
    color: #EDF2F4;
    white-space: pre-wrap;
}
.sumario{
    background-color: #eab464;
    width: 13%;
    position: fixed;
    margin-left: 1.5%;
    padding: 10px;
    overflow-wrap: break-word;
}
.smallText {
    height: 650px;
    font-size: 16px;
}

.bigText {
    font-size: 36px;
    height: 950px;
}
h4{
    text-align: center;
}