.body-claro {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #EDF2F4;
    color: black;  
    overflow:scroll;
}

.dark-mode {
    margin:0;
    font-family: "Poppins", sans-serif;
    background-color: #1D1E2C;
    color: #EDF2F4;
    overflow:scroll;
}

.smallText {
    height: 650px;
    font-size: 16px;
}

.bigText {
    font-size: 36px;
    height: 950px;
}
h4{
    text-align: center;
}
.a-Home{
    color: #1D1E2C;
}
.direita{
    text-align: right;
}
.seperacaoColunas{
    margin-top: 40px;
}

.carta{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 30%;
    border: 2px solid black;
    outline: #1B766A solid 10px;
    height: 200px;
    width: 40%;
    text-align: center;
    padding-top: 70px;
}
