.body-claro {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #EDF2F4;
    color: black;  
}


.dark-mode {
    margin:0;
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: #1D1E2C;
    color: #EDF2F4;
}

.smallText {
    height: 650px;
    font-size: 16px;
}

.bigText {
    font-size: 36px;
    height: 950px;
}
h4{
    text-align: center;
}
.a{
    color: #eab464;
}
.caixaLink{
    width: 30%;
    margin-left: 30%;
    background-color: #b8d8d9;
}

.hr{
    color:#EDF2F4;
  }

  .dark-mode .caixaLink{
    background-color: #668586;
}